@import "../index.scss";

::-webkit-scrollbar {
	width: 0.1px !important;
}

:root {
	--modebg: white;
	--modefont: black;
	--modeswt: invert(0);
	--ph: 0;
	--ps: 0%;
	--pl: 85%;
	--pfont: hsl(var(--ph), var(--ps), calc((25% - var(--pl) * 0.5) * 100));
}

$modebg: var(--modebg);
$modefont: var(--modefont);
$modeswt: var(--modeswt);
$primary-h: var(--ph);
$primary-s: var(--ps);
$primary-l: var(--pl);
$primary: hsl($primary-h, $primary-s, $primary-l);
$primlight: hsl($primary-h, $primary-s, calc(var(--pl) + 10%));
$primary-font: var(--pfont);

$MAX: 800px;
$suite-bg: rgb(0, 0, 0);
$light-grey: rgba(120, 120, 120, 0.1);
