@import "../index.scss";

.secret {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 50%;
	@include flex;
	flex-direction: column;

	color: $modefont;
	.input {
		cursor: text;
		@include flex;
		width: 100px;
		height: 50px;
		.mark {
			margin: 0 auto;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			border: 1px solid grey;
		}
		.dot {
			background-color: white;
		}
		.val {
			background-color: black;
		}
	}
	input {
		outline: none;
		border: none;
		position: absolute;
		top: -50px;
		width: 0px;
		color: transparent;
		background-color: transparent;
	}
	.Hello,
	.Guest {
		animation: shrink 1.2s linear;
	}
	.Incorrect {
		animation: shake 1.2s ease;
	}
}

@keyframes shrink {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.1);
	}
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-0.5px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(1.5px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-3px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(3px, 0, 0);
	}
}
