@import "../index.scss";

body {
	background-color: $mode;
}

#Suite {
	font-size: 14px;
	width: 100vw;

	color: $modefont;

	input,
	select {
		padding: 7px 10px;
		border-radius: 5px;
		outline-color: $themelight;
		border: none;
		background-color: rgba(145, 145, 145, 0.1);
		border: 1px solid rgb(211, 211, 211);
	}
	button {
		font-size: 0.9rem;
		user-select: none;
		color: $themefont;
		cursor: pointer;
		outline: none;
		border: none;
		padding: 10px 20px;
		border-radius: 5px;
		background-color: $themelight;
		transition: 0.2s;
		&:active {
			background-color: rgba(120, 120, 120, 0.32);
		}
	}
	h1,
	h2,
	h3,
	h4,
	p {
		user-select: none;
		cursor: default;
	}

	@media (max-width: 500px) {
		input,
		select {
			font-size: 16px;
		}
	}
}
