@import "../index.scss";

.splash {
	@include flex;
	width: 100vw;
	height: 100vh;

	background-color: hsl(0, 0%, 92%);

	#Splash-content {
		@include flex;
		width: 100%;
		height: 100%;
		#Splash-icon {
			width: 15%;
			max-width: 200px;
			animation: beat 1.2s infinite linear;
		}
	}

	#Splash-message {
		font-size: 2.5rem;
		font-weight: bold;
		position: fixed;
		bottom: 50px;
		@media (max-width: 500px) {
			display: none;
		}
	}

	.Content-vert {
		transform: rotate(90deg);
	}
	.Message-vert {
		transform: rotate(90deg);
		bottom: unset !important;
		left: 0;
	}
}

@keyframes beat {
	0% {
		transform: scale(1);
	}
	20% {
		transform: scale(1.12);
	}
	40% {
		transform: scale(1.04);
	}
	60% {
		transform: scale(1.1);
	}
	80% {
		transform: scale(1.07);
	}
	100% {
		transform: scale(1);
	}
}

// @keyframes breathe {
// 	10%,
// 	100% {
// 		transform: scale(0.95);
// 	}
// 	20%,
// 	40%,
// 	80% {
// 		transform: scale(0.90);
// 	}
// 	30%,
// 	60%,
// 	90% {
// 		transform: scale(0.93);
// 	}
// 	50%,
// 	70% {
// 		transform: scale(0.88);
// 	}
// }
