@import '../index.scss';

.calendar-module {
  width: 100%;

  .module-cont {
    width: 100%;
    @include flex;
    flex-direction: column;

    .calendar-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 20px;

      .weekday {
        flex: 1;
        width: 100%;
        margin: 20px 0;
        text-align: center;
      }
    }

    .calendar-body {
      overflow: hidden;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      border: 1px solid $greylight;
      border-radius: 20px;

      .day {
        position: relative;
        overflow: hidden;
        @include flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        border: 1px solid $greylight;

        .number {
          font-size: 2.5rem;
          width: 100%;
          height: 100%;
          max-height: 100px;
          min-height: 100px;
          @include flex;
        }

        .today {
          font-weight: bold;
          color: rgb(212, 57, 88);
        }

        .dots,
        .events {
          max-height: 100px;
          min-height: 100px;
          @include flex;
        }

        .dots {
          .dot {
            @include flex;
            width: 25px;
            font-size: 2.5rem;
          }

          .mayo {
            color: rgb(15, 90, 210);
          }

          .clinic {
            color: rgb(116, 70, 255);
          }
        }

        .events {
          flex-direction: column;

          .today-event {
            @include flex;
            font-size: 1.5rem;
            &:not(:last-child) {
              margin-bottom: 10px;
            }
          }
        }
      }
      .blur {
        * {
          opacity: 0.7;
        }
        .number {
          color: $greylight;
        }
      }
    }
  }

	@media (max-width: 500px) {
    margin-top: -25px !important;
    
    .module-cont {
      .calendar-header {
        margin-bottom: 25px;
        .weekday{
          font-size: 1.2rem;
          margin:  0;
        }
      }
      .calendar-body {
        .day{
          height: auto;
          .number {
            font-size: .8rem;
            max-height: 25px;
            min-height: 25px;
          }
          .dots, .events {
            max-height: 25px;
            min-height: 25px;
          }
          .dots {
            width: 20px;
            .dot, .work {
            font-size: .8rem;
            }
          }
          .events{
            .today-event {
            font-size: .6rem;
            }
          }
        }
      }
    }
  }
}
