@import "../index.scss";

.cats-module {
	width: 100%;
	@include flex;
	flex-direction: column;

	.schedule {
		width: 100%;
		@include flex;
		flex-direction: column;
		justify-content: space-evenly;
		.labels {
			margin-bottom: 60px;
			p {
				width: 100%;
				text-align: center;
			}
		}
		.labels,
		.indicators {
			width: 100%;
			@include flex;
		}

		#Progress {
			&:after {
				width: 170px;
				height: 170px;
			}
		}
	}
}
