@import "../index.scss";

.datetime-module {
	width: 100%;
	margin-bottom: -110px !important;

	.module-cont {
		width: 100%;
		@include flex;
		justify-content: space-between;
	}

	.date,
	.time {
		font-size: 7rem;
	}

	@media (max-width: 500px) {
		margin-bottom: 0 !important;
		.date,
		.time {
			font-size: 1.2rem;
		}
	}
}
