@import "../index.scss";

.datetime-module {
	margin-bottom: 0 !important;

	.module-cont {
		width: 100%;
		@include flex;
		justify-content: space-between;
	}
	.date,
	.time {
		font-size: 7rem;
	}
}
