@import "../index.scss";

.grocery-module {
	width: 100%;
	@include flex;

	.module-cont {
		position: relative;
		@include flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		min-height: 500px;
		border: 2px solid $greylight;
		border-radius: 20px;

		._module-title {
			position: absolute;
			top: 0;
			line-height: 0px;
			width: 100%;
			text-align: center;
		}

		.no-items {
			@include flex;
			width: 100%;
		}

		.items {
			flex: 1;
			@include flex;
			flex-wrap: wrap;
			width: 100%;
			padding: 50px 0;

			.item {
				text-align: center;
				min-width: 33%;
			}
		}
	}
	@media (max-width: 500px) {
		.module-cont {
			min-height: auto;
			.items {
				padding: 20px 0;
				.item {
					font-size: .8rem;
					padding: 20px 0;
				min-width: 50%;
			}
			}
		}
	}
}
