@import "../index.scss";

.weather-module {
	width: 100%;

	.module-cont {
		width: 100%;
		@include flex;
		flex-direction: column;

		.information,
		.day-overview {
			@include flex;
			width: 100%;
			padding: 60px 0;
			border: 2px solid $greylight;

			.icon {
				font-size: 5rem;
			}

			.label {
				color: $greylight;
			}
		}

		.information {
			position: relative;
			@include flex;
			justify-content: space-around;
			min-height: 300px;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;

			.information-icon {
				position: absolute;
				top: -125px;
				left: 50%;
				transform: translate(-50%);

				img {
					width: 250px;
				}
			}

			.left,
			.right {
				flex: 1.5;
				@include flex;
				justify-content: space-evenly;
			}

			.left,
			.middle,
			.right {
				align-self: flex-end;

				.info {
					@include flex;
					flex-direction: column;
				}
			}

			.middle {
				flex: 2;
				@include flex;
				justify-content: space-evenly;

				.temperature {
					font-size: 7rem;
				}

				.label {
					font-size: 2.5rem;
					margin: 20px;
				}
			}
		}

		.day-overview {
			@include flex;
			justify-content: space-around;
			border-top: none;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;

			.interval {
				@include flex;
				flex-direction: column;

				.label {
					margin-bottom: 20px;
				}

				.stat {
					font-size: 2.5rem;
				}
			}
		}
	}
	@media (max-width: 500px) {
		.module-cont {
			.information {
				min-height: auto;
				padding: 20px 0;
				.information-icon{
					position: absolute;
					top: -41px;
					left: 50%;
					transform: translate(-50%);

					img {
						width: 80px;
					}
				}
				.icon {
					font-size: 1.4rem;
					margin-bottom: 5px;
				}
				.stat {
					margin-bottom: 10px;
				}
				.left, .right {
					font-size: .8rem;
					flex-direction: column;
				}
				.middle {
					.info {
						.stat {
								font-size: .8rem;
						}
					}
					.temperature {
						font-size: 1.5rem;
					}
					.label {
						font-size: 1.2rem;
						margin: 20px 25px;
					}
				}
			}
			.day-overview {
				padding: 20px 10px;
				.interval {
					.label {
						font-size: .8rem;
					}
					.stat {
						font-size: .8rem;
					}
				}
			}
		}
	}
}
