@import "../index.scss";

.weather-module {
	width: 100%;
	.module-cont {
		width: 100%;
		@include flex;
		justify-content: space-between;

		.overview,
		.stats {
			width: 45%;
			@include flex;
			align-items: stretch;
			flex-direction: column;
			.top,
			.mid,
			.bot {
				width: 100%;
				@include flex;
				justify-content: space-evenly;
				.icon {
					@include flex;
					font-size: 5rem;
				}
			}
			.line {
				flex: 1;
				@include flex;
				justify-content: space-evenly;
				width: 100%;
			}
		}

		.overview {
			.description {
				margin: 0;
				margin-bottom: 20px;
			}
			.mid {
				.icon {
					img {
						width: 160px;
						filter: drop-shadow(
							-2px 2px 5px rgba(0, 0, 0, 0.3)
						);
					}
				}
				.temperature {
					font-size: 6.5rem;
				}
			}
			.bot {
				@include flex;
				justify-content: space-evenly;
			}
		}

		.stats {
			.icon {
				svg {
					margin: 10px 40px;
				}
			}
		}
	}
}
