@import "../index.scss";

.weather-module {
	width: 100%;
	.module-cont {
		width: 100%;
		@include flex;
		flex-direction: column;

		.information,
		.day-overview {
			@include flex;
			width: 100%;
			padding: 60px 0;
			border: 2px solid $lightgrey;
			.icon {
				font-size: 5rem;
			}
			.label {
				color: $lightgrey;
			}
		}

		.information {
			position: relative;
			@include flex;
			justify-content: space-around;
			min-height: 300px;

			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			.information-icon {
				position: absolute;
				top: -100px;
				left: 50%;
				transform: translate(-50%);
				img {
					width: 200px;
				}
			}

			.left,
			.right {
				flex: 1.5;
				@include flex;
				justify-content: space-evenly;
			}

			.left,
			.middle,
			.right {
				align-self: flex-end;
				.info {
					@include flex;
					flex-direction: column;
				}
			}

			.middle {
				flex: 2;
				@include flex;
				justify-content: space-evenly;
				.temperature {
					font-size: 7rem;
				}
				.label {
					margin: 20px;
				}
			}
		}

		.day-overview {
			@include flex;
			justify-content: space-around;

			border-top: none;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
			.interval {
				@include flex;
				flex-direction: column;
				.label {
					margin-bottom: 20px;
				}
				.stat {
					font-size: 3rem;
				}
			}
		}
	}
}
