@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200, 400;500&display=swap");
::-webkit-scrollbar {
	width: 1px;
	height: 1px;
}

::-webkit-scrollbar-button {
	width: 1px;
	height: 1px;
}

@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

$suite-bg: rgb(0, 0, 0);
$suite-title: rgb(255, 255, 255);
$accent-color: rgba(0, 100, 200, 0.8);
$section-h-bg: rgb(228, 228, 228);
$section-h-color: rgb(0, 0, 0);
$light-grey: rgba(120, 120, 120, 0.1);
$drop-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.8);
$padgap: 7px;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Quicksand", sans-serif;
	height: 100vh;
	font-size: 14px;
}

.bg {
	top: 0;
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-image: url("../assets/bg.jpg");
	background-size: cover;
	@media (min-width: 500px) {
		background-image: unset;
		background-color: rgb(245, 245, 245);
	}
}

input,
select {
	padding: 7px 10px;
	border-radius: 5px;
	border: none;
	outline-color: $accent-color;
	background-color: rgba(120, 120, 120, 0.1);
	border: 1px solid rgb(219, 219, 219);
}

button {
	cursor: pointer;
	outline: none;
	border: none;
	padding: 10px;
	border-top: 2px solid $accent-color;
	background-color: $section-h-bg;
	transition: 0.2s;
	&:active {
		font-weight: 600;
		border-color: rgb(74, 18, 206);
		background-color: rgba(120, 120, 120, 0.32);
	}
}

h1,
h2,
h3,
h4 {
	user-select: none;
	cursor: default;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

p {
	cursor: default;
	font-weight: 400;
	font-size: 0.9rem;
}
