@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200, 400;500&display=swap");

::-webkit-scrollbar {
	position: relative;
	right: 0px;
	top: 100px;
	height: 0;
	width: 0.1px;
}
::-webkit-scrollbar-track {
	background-color: darken(white, 25%);
}
::-webkit-scrollbar-thumb {
	background-color: darken(white, 60%);
	border-radius: 5px;
}

@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

:root {
	--ph: 0;
	--ps: 0%;
	--pl: 85%;
	--pfont: hsl(var(--ph), var(--ps), calc((25% - var(--pl) * 0.5) * 100));
}

$primary-h: var(--ph);
$primary-s: var(--ps);
$primary-l: var(--pl);
$primary: hsl($primary-h, $primary-s, $primary-l);
$primlight: hsl($primary-h, $primary-s, calc(var(--pl) + 10%));
$primary-font: var(--pfont);

$MAX: 800px;
$suite-bg: rgb(0, 0, 0);
$light-grey: rgba(120, 120, 120, 0.1);

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Quicksand", sans-serif;
	height: 100vh;
	font-size: 14px;
}

input,
select {
	padding: 7px 10px;
	border-radius: 5px;
	outline-color: $primlight;
	border: none;
	background-color: rgba(145, 145, 145, 0.1);
	border: 1px solid rgb(211, 211, 211);
}

button {
	font-size: 0.9rem;
	user-select: none;
	color: $primary-font;
	cursor: pointer;
	outline: none;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: $primlight;
	transition: 0.2s;
	&:active {
		font-weight: 600;
		border-color: rgb(74, 18, 206);
		background-color: rgba(120, 120, 120, 0.32);
	}
}

h1,
h2,
h3,
h4 {
	user-select: none;
	cursor: default;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}

p {
	cursor: default;
	font-weight: 400;
	font-size: 0.9rem;
}

@media (max-width: 500px) {
	input,
	select {
		font-size: 16px;
	}
}
