@import "./index.scss";

#modal {
	z-index: 100;
	position: fixed;
	left: 0;
	bottom: 0px;
	width: 100vw;
	border-radius: 5px;

	overflow: hidden;
	border-top: 3px solid $accent-color;
	background-color: rgb(255, 255, 255);

	.modal-cont {
		text-align: center;
		@include flex;
		flex-direction: column;
		width: 100%;
		.title {
			font-size: 1.1rem;
			font-weight: bold;
			padding-bottom: 20px;
			margin-bottom: 0;
		}
		.content {
			@include flex;
			flex-direction: column;
			width: 100%;
			padding: 0 40px;
			padding-bottom: 40px;
			form {
				width: 100%;
				max-width: 500px;
				transition: all 0.2s;
				margin-bottom: 20px;
				.form-line {
					@include flex;
					justify-content: space-between;
					width: 100%;
					height: 40px;
					margin: 5px 0;
					label {
						flex: 1;
						text-align: left;
					}
					input,
					select {
						width: 100%;
						flex: 2;
					}
				}
				.form-submit {
					display: none;
				}
			}
		}
	}
}
