@import "./index.scss";

#Suite > section {
	@include flex;
	justify-content: flex-start;
	flex-direction: column;

	.section-wrap {
		height: 100%;
		overflow: scroll;
	}
	.content {
		@include flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100vw;
		max-height: 100%;
		padding: 0 20px;
		overflow-y: scroll;

		.content-head {
			width: 100%;
			@include flex;
			justify-content: space-between;
			margin-bottom: 20px;
			p {
				font-weight: 600;
			}
		}
		.content-line {
			width: 100%;
			@include flex;
			justify-content: space-between;
			* {
				flex: 1;
			}
		}
		.with-border {
			&:not(:last-child) {
				border-bottom: 2px solid $light-grey;
			}
		}
	}
	.content-empty {
		@include flex;
		width: 100vw;
	}

	.content-view-all {
		@include flex;
		height: 30px;
		padding: 10px;
		margin: 10px auto 10px;
		cursor: pointer;
		font-size: 1.1rem !important;
	}
}
