@import "./index.scss";

#Suite {
	display: flex;
	overflow-x: scroll;

	scroll-snap-type: x mandatory;

	.section-title {
		width: 100%;
		@include flex;
	}
	section {
		scroll-snap-align: center;

		width: 100vw;
		height: 100vh;
		max-height: 100vh;
	}
}
