@import "./index.scss";

.suite {
	z-index: 100;
	position: relative;
	@include flex;
	flex-direction: column;
	header {
		overflow: hidden;
		text-align: center;
		width: 100%;
		h1 {
			overflow: hidden;
			font-size: 1.8em;
			padding: 10px 0;
			margin-bottom: 20px;
			margin: 0 0 40px;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			background-color: $section-h-bg;
			color: $section-h-color;
		}
	}
	section {
		position: relative;
		overflow: hidden;
		width: 100%;
		max-width: 700px;
		margin: 0 auto;
		min-height: 50vh;
		height: fit-content;
		padding: 40px;
		border-radius: 5px;
		margin-bottom: 40px;
		box-shadow: $drop-shadow;
		text-align: center;
		background-color: white;

		@media (min-width: 500px) {
			border-radius: 10px;
		}

		h1 {
			padding: 20px 0;
			margin: -40px;
			margin-bottom: 20px;
			background-color: $section-h-bg;
			color: $section-h-color;
			border-bottom: 2px solid $accent-color;
		}
		h3 {
			margin-top: 20px !important;
		}
		.head {
			width: 100%;
			@include flex;
			justify-content: space-between;
			margin-bottom: 20px;
			p {
				font-weight: 600;
			}
		}
		.content {
			margin-bottom: 20px;
			.item,
			.static-task {
				width: 100%;
				@include flex;
				justify-content: space-between;
				p {
					margin: 7px 0;
				}
			}
			.item,
			.static-task,
			.plant {
				&:not(:last-child) {
					border-bottom: 2px solid $light-grey;
				}
			}
		}
		.action-btns {
			user-select: none;
			position: absolute;
			bottom: 0px;
			margin: 0 -40px;
			@include flex;
			width: 100%;
			button {
				flex: 1;
			}
		}
	}
}
