@import "../../index.scss";

.pinpad {
  user-select: none;
  @include flex;
  width: 100%;
  padding: 0 40px;
  .pad {
    @include flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 300px;
    .digit {
      color: white;
      font-size: 1.2rem;
      @include flex;
      width: 65px;
      height: 65px;
      margin: 10px;
      border-radius: 50%;
      border: 2px solid grey;
      background-color: rgb(20, 20, 20);
      &:active {
        border: 2px solid white;
        transform: scale(0.95);
        background-color: rgb(40, 40, 40);
      }
    }
    .null-digit {
      opacity: 0;
    }
  }
}
