@import "./index.scss";

.calender {
	text-align: center;
	@include flex;
	width: 100%;
	height: 100%;
	font-size: 1.1rem;

	div {
		border-color: grey;
		background-color: unset;
		.calender-event {
			@include flex;
			margin-top: 7px;
			justify-content: space-between;
			border-color: grey !important;
		}
		.today-indicator {
			font-size: 1.3rem;
			color: crimson !important;
		}
	}
}
