@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Quicksand:wght@300&display=swap");

::-webkit-scrollbar {
	position: relative;
	right: 0px;
	top: 100px;
	height: 0;
	width: 8px;
}
::-webkit-scrollbar-track {
	background-color: darken(white, 25%);
}
::-webkit-scrollbar-thumb {
	background-color: darken(white, 60%);
	border-radius: 5px;
}

body {
	font-family: "Quicksand", sans-serif;
}

* {
	h1 {
		font-size: 3rem;
		font-weight: 200;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		top: 20px;
	}
}

@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

$primary: rgba(45, 45, 45, 0.7);
$secondary: rgba(17, 17, 17, 0.7);

#back {
	top: 0;
	left: 0;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-image: url("../assets/watson_lake.jpg");
	background-size: cover;
	opacity: 0.7;
}

#view {
	* {
		&:not(button) {
			color: white;
		}
		p {
			font-size: 1.2rem;
		}
	}
	position: relative;
	width: 100vw;
	background-color: $primary;

	main {
		display: grid;
		gap: 5px;
		width: 100vw;
		height: 100vh;
		grid-template:
			"time weather cats plants"
			"calender calender groceries tasks";
		.tile {
			@include flex;
			min-height: 200px;
			padding: 20px;
		}
	}
}

#time,
#weather,
#cats,
#plants,
#grocerylist,
#tasklist,
#calender {
	position: relative;
	background-color: $secondary;
}

#cats,
#plants,
#grocerylist,
#tasklist {
	min-width: 350px;
}

#time {
	grid-area: time;
}
#weather {
	grid-area: weather;
}
#calender {
	grid-area: calender;
}
#grocerylist {
	grid-area: groceries;
}
#tasklist {
	grid-area: tasks;
}
#cats {
	grid-area: cats;
}
#plants {
	grid-area: plants;
}
