@import "./index.scss";

.splash {
	position: relative;
	@include flex;
	width: 100vw;
	height: 100vh;

	.splash-bg {
		z-index: 1;
		animation: none !important;
		position: fixed;
		width: 100vw;
		height: 100vh;
		background-color: $secondary;
	}
	.swt-cont {
		z-index: 2;
		animation: breathe 2s infinite linear alternate;

		#splash-swt {
			filter: invert(1);
			width: 150px;
		}
		.shrink {
			animation: shrink 0.6s linear;
		}
	}
}

@keyframes shrink {
	0% {
		transform: scale(0.98);
	}
	100% {
		transform: scale(0.1);
	}
}

@keyframes breathe {
	10%,
	100% {
		transform: scale(0.99);
	}
	20%,
	40%,
	80% {
		transform: scale(0.97);
	}
	30%,
	60%,
	90% {
		transform: scale(0.98);
	}
	50%,
	70% {
		transform: scale(0.96);
	}
}
