@import "./index.scss";

.tasklist {
	width: 80%;
	align-self: flex-start;
	padding-top: 100px;
	h3 {
		font-size: 1.8rem;
		font-weight: 400;
		margin-bottom: 20px;
		border-bottom: 2px solid grey;
	}
	.tasks {
		width: 100%;
		.task {
			font-size: 1.4rem;
			padding-bottom: 10px;
			margin-bottom: 5px;
		}
		.imp-task {
			text-align: center;
		}
		.static-task {
			width: 100%;
			@include flex;
			justify-content: space-between;
		}
	}
}
