@import "./index.scss";

#Sweetie {
	* {
		margin: 0;
		padding: 0;
		color: white;
	}

	overflow: hidden;
	background-color: $primary;

	#Tile {
		@include flex;
		align-items: flex-start;
		flex: 1;
		padding: 0 100px;
	}
	#Line {
		@include flex;
		align-items: stretch;
		width: 95vw;
		margin: 0 auto;
	}

	.tile-title {
		font-size: 5rem;
	}
	.sub-title {
		font-size: 3.5rem;
	}
	.w-line {
		padding-bottom: 20px;
		margin-bottom: 40px;
		border-bottom: 2px solid grey;
	}

	.datetime-tile,
	.calendar-tile,
	.weather-tile,
	.cat-tile,
	.grocery-tile {
		margin: 125px 0;
	}
}
