@import "../index.scss";

// Dev
#Sweetie {
	position: absolute;
	width: 100vw;
	height: 100vh;
}

// Prod
.Sweetie-vert {
	transform: rotate(90deg);
	transform-origin: bottom left;
	top: -100vw;
	left: 0;
	width: 100vh !important;
	height: 100vw !important;
}
.Splash-vert {
	transform: rotate(90deg);
}

#Sweetie {
	* {
		margin: 0;
		padding: 0;
		color: white;
	}

	font-size: 2.4rem;
	overflow: hidden;

	background-size: cover;
	background-image: url("../../Assets/sweetie-bg.jpg");

	#Tile {
		@include flex;
		align-items: flex-start;
		flex: 1;
		padding: 0 100px;
	}
	#Line {
		@include flex;
		align-items: stretch;
		width: 95vw;
		margin: 0 auto;
	}

	.tile-title {
		font-size: 5rem;
	}
	.sub-title {
		font-size: 3.5rem;
	}
	.w-line {
		padding-bottom: 20px;
		margin-bottom: 40px;
		border-bottom: 2px solid grey;
	}

	.datetime-tile,
	.calendar-tile,
	.weather-tile,
	.cats-tile,
	.grocery-tile {
		margin: 120px 0;
	}
	#Progress {
		$stroke-color: white !important;
	}
}
