@import "../index.scss";

#Progress {
	@include flex;
	width: 100%;
	transform: rotate(180deg);
	svg {
		border: $greylight 2px solid;
		border-radius: 20px;
	}
	svg rect {
		fill: $greydark;
		opacity: 0.5;
		transition: height 1s linear;
	}

	@keyframes rect-glow {
		10% {
			fill: $greydark;
		}
		50% {
			fill: rgb(160, 20, 30);
		}
		90% {
			fill: $greydark;
		}
	}
}
