@import "../../index.scss";

#Suite {
	.cat-tab {
		.content-line {
			@include flex;
			flex-direction: column;
			margin-top: 50px;
			#Progress {
				#svg circle {
					stroke-width: 5px !important;
				}
				&:after {
					width: 65px;
					height: 65px;
				}
			}
		}
	}
}
