@import "../index.scss";

.crimas {
	z-index: 1;
	@include flex;
	flex-direction: column;
	justify-content: flex-start;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgb(200, 200, 200);

	$ice: rgb(220, 220, 220);
	$bgrad: linear-gradient(
		90deg,
		rgba(89, 180, 58, 1) 0%,
		rgba(139, 69, 252, 1) 50%,
		rgba(253, 29, 29, 1) 100%
	);
	* {
		user-select: none;
		cursor: default;
		font-weight: 400;
	}
	.title {
		width: 100%;
		text-align: right;
		padding: 10px 10px 10px 0;
		margin: 0;
		margin-right: 25vw;
		margin-top: 50px;
		box-sizing: border-box;
		border-style: solid;
		border-image-slice: 1;
		border-width: 2px;
		border-image-source: linear-gradient(to right, #2f6c9e, #ff000000);
		border-radius: 10px;
		background-color: $ice;
	}
	.form {
		width: 100%;
		padding: 50px 40px;
		form {
			@include flex;
			flex-direction: column;
			justify-content: space-between;
			.form-line {
				@include flex;
				justify-content: space-between;
				width: 100%;
				textarea {
					resize: none;
					font: 16px;
					padding: 10px;
					width: 100%;
					border-radius: 7px;
					background-color: rgb(220, 220, 220);
				}
			}
			.form-submit {
				margin-top: 50px;
				button {
					font-size: 1rem;
					width: calc(100vw - 80px) !important;
					padding: 10px 0;
					border-radius: 10px;
					border: 2px solid #2571af6b;
					background-color: $ice;
				}
				button:active {
					transform: scale(0.98);
				}
			}
		}
	}

	@import "../index.scss";
	$o: 0.4; /// opacity
	$d: 10; /// density
	$w: 380; // grid size
	$s: 20s; /// speed

	// Generate the snow image using radial gradients
	$grad: ();
	@for $i from 0 to $d {
		$v: random(3) + 1;
		$a: random(2) * 0.05 + 0.3;
		$grad: $grad,
			radial-gradient(
				$v +
					px
					$v +
					px
					at
					(random($w - $v * 2) + $v) +
					px
					(random($w - $v * 2) + $v) +
					px,
				rgba(20, 82, 133, $a) 50%,
				rgba(0, 0, 0, 0)
			) !global;
	}

	#Snowfall,
	#Snowfall:before,
	#Snowfall:after {
		z-index: -1;
		content: "";
		position: absolute;
		top: -$w + px;
		left: 0;
		bottom: 0;
		right: 0;
		border: 50%;
		opacity: $o;
		animation: snow $s linear infinite;
		background-image: $grad;
		background-size: $w + px $w + px;
	}
	#Snowfall:after {
		margin-left: -$w/3 + px;
		opacity: 0.35;
		animation-duration: $s * 2;
		animation-direction: reverse;
		filter: blur(3px);
	}
	#Snowfall:before {
		animation-duration: $s * 3;
		animation-direction: reverse;
		margin-left: -$w/2 + px;
		opacity: 0.85;
		filter: blur(1.5px);
	}

	@keyframes snow {
		to {
			transform: translateY($w + px);
		}
	}
}
#Sweetie {
	.crimas-tile {
		margin: 100px 0;
		@include flex;
		flex-direction: column;
		width: 100%;

		.statement {
			text-align: center;
			font-size: 7rem;
		}
		.prompts {
			position: absolute;
			bottom: 40px;

			width: 100%;
			padding-top: 50px;
			.top,
			.bot {
				text-align: center;
				font-size: 1.8rem;
			}
		}
	}
}
