@import "../../index.scss";

.pinview {
  width: 100%;
  @include flex;
  flex-direction: column;
  #pin {
    cursor: text;
    @include flex;
    width: 120px;
    height: 50px;
    font-size: 16px;
    margin: 40px 0 20px;
    .mark {
      margin: 0 auto;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid grey;
    }
    .dot {
      background-color: $mode;
    }
    .val {
      background-color: $modefont;
    }
  }
}
