@import "../index.scss";

.weather {
	@include flex;
	flex-direction: column;
	.top,
	.bottom {
		@include flex;
		flex: 100%;
	}
	.top {
		margin-top: 100px;
	}
	.description {
		width: 100%;
		text-align: center;
	}
	.temperature,
	.humidity {
		text-align: center;
		min-width: 200px;
		p {
			margin: 0px;
			font-size: 4rem !important;
		}
		label {
			p {
				font-size: 3rem !important;
			}
		}

		.loader {
			margin-top: 5px;
			margin-bottom: 25px;
		}
	}
	.icon {
		@include flex;
		margin: 0 100px;
		img {
			width: 300px;
			min-height: 100px;
			filter: drop-shadow(-2px 2px 5px rgba(0, 0, 0, 0.3)) hue-rotate(180deg);
		}
	}
}
