@import "../../index.scss";

.cats {
	@include flex;
	flex-direction: column;

	.progress-wrap {
		@include flex;
		flex-direction: column;
		padding: 20px 30px !important;
		margin-bottom: 20px;

		#Progress {
			#svg circle {
				stroke-width: 5px !important;
			}
			&:after {
				width: 65px;
				height: 65px;
			}
		}
	}

	@media (min-width: 500px) {
		flex-direction: row;
		.progress-wrap:first-child {
			margin-bottom: usnet;
			margin-right: 20px;
		}
		.progress-wrap {
			padding: 40px !important;
		}
	}
}
