@import "../../index.scss";

.grocery {
	width: 100%;

	.list-title {
		text-transform: capitalize;
		font-weight: bold;
		margin: 20px 0;
		&:first-child {
			margin-top: 0;
		}
	}
	.grocery-wrap {
		@include flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}

	.gl-empty {
		text-align: center;
	}
}
