@import "../../index.scss";

.overview {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;

	.tile {
		text-align: center;

		&:nth-child(1),
		&:nth-child(4) {
			grid-column: span 2;
		}
		.tile-title {
			width: 50%;
			text-align: left;
			font-weight: bold;
			margin: 10px 0;
		}
		.tile-wrap {
			@include flex;
			height: 100px;

			.ce-ov,
			.gl-ov,
			.cs-ov {
				width: 100%;
				p {
					width: 100%;
					@include flex;
					justify-content: space-between;
					&:not(:first-child) {
						margin-top: 10px !important;
					}
				}
			}
		}
		.option-tile {
			height: 50px !important;
			color: $themefont !important;
			background-color: $themelight !important;
		}
	}
}
