@import "../../index.scss";

#Sweetie {
	.cat-tile {
		width: 100%;
		@include flex;
		flex-direction: column;

		.schedule {
			width: 100%;
			@include flex;
			flex-direction: column;
			justify-content: space-evenly;
			.labels {
				margin-bottom: 60px;
				p {
					width: 100%;
					text-align: center;
				}
			}
			.labels,
			.indicators {
				width: 100%;
				@include flex;
			}

			$stroke-color: rgba(220, 220, 220, 0.8);
			$shadow-prim: rgba(165, 165, 165, 0.3);
			$cont-size: 180px;
			$after-size: 130px;
			$after-margin: -65px;

			#svg circle {
				stroke-dashoffset: 0;
				transition: stroke-dashoffset 1s linear;
				stroke: transparent;
				stroke-width: 20px;
			}
			#svg #bar {
				stroke: $stroke-color;
			}
			#cont {
				position: relative;
				display: block;
				height: $cont-size;
				width: $cont-size;
				margin: 0 auto;
				box-shadow: 0 0 35px $shadow-prim;
				border-radius: 100%;
				transform: rotate(-90deg);
			}
			#cont:after {
				position: absolute;
				display: block;
				content: "";
				height: $after-size;
				width: $after-size;
				top: 50%;
				left: 50%;
				box-shadow: inset 0 0 25px $shadow-prim;
				margin-top: $after-margin;
				margin-left: $after-margin;
				border-radius: 100%;
			}

			@keyframes tile-glow {
				10% {
					box-shadow: 0 0 35px $shadow-prim;
				}
				50% {
					box-shadow: 0 0 40px crimson;
				}
				90% {
					box-shadow: 0 0 35px $shadow-prim;
				}
			}
		}
	}
}
