@import "../../index.scss";

#Sweetie {
	.datetime-tile {
		@include flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 0 !important;

		.line {
			@include flex;
			justify-content: space-between;
			width: 100%;
		}
		.date,
		.time {
			font-size: 7rem;
		}
	}
}
