@import "../index.scss";

#Sweetie {
	.date-time {
		@include flex;
		flex-direction: column;
		width: 100%;
		margin-top: 40px;
		margin-bottom: 0;
		margin-bottom: 100px !important;

		.line {
			@include flex;
			justify-content: space-between;
			width: 100%;
		}
		.holiday {
			margin-top: 20px;
			width: 100%;
			text-align: left;
		}
		.date,
		.time {
			font-size: 7rem;
		}
	}
}
