@import "../../index.scss";

#Sweetie {
	.grocery-tile {
		@include flex;
		align-items: stretch;
		justify-content: space-evenly;
		width: 100%;

		.wholefoods,
		.bashas {
			width: 45%;
		}

		.items {
			margin: 0 auto;
			@include flex;
			.first-half,
			.second-half {
				flex: 1;
				align-self: flex-start;
			}
			.item {
				padding-bottom: 10px;
				margin-bottom: 5px;
			}
		}
		.center {
			@include flex;
			padding-top: 20px;
		}
	}
}
