@import "../index.scss";

.crimas-form {
	@include flex;
	flex-direction: column;
	justify-content: flex-start;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgb(17, 20, 25);

	$ice: rgb(20, 20, 20);
	$bgrad: linear-gradient(
		90deg,
		rgba(89, 180, 58, 1) 0%,
		rgba(139, 69, 252, 1) 50%,
		rgba(253, 29, 29, 1) 100%
	);
	* {
		color: white;
		user-select: none;
		cursor: default;
		font-weight: 400;
	}
	.title {
		width: 100%;
		text-align: right;
		padding: 10px 10px 10px 0;
		margin: 0;
		margin-right: 25vw;
		margin-top: 50px;
		box-sizing: border-box;
		border-style: solid;
		border-image-slice: 1;
		border-width: 2px;
		border-image-source: linear-gradient(to right, #1688e6, #00000000);
		border-radius: 10px;
		background-color: $ice;
	}
	.form {
		width: 100%;
		padding: 50px 40px;
		form {
			@include flex;
			flex-direction: column;
			justify-content: space-between;
			.form-line {
				@include flex;
				justify-content: space-between;
				width: 100%;
				input {
					color: white;
					font-size: 16px;
					padding: 10px;
					width: 100%;
					border-radius: 7px;
					border: 2px solid #092a446b;
					background-color: rgba(240, 240, 240, 0.05);
				}
			}
			.form-submit {
				margin-top: 50px;
				button {
					font-size: 1rem;
					width: calc(100vw - 80px) !important;
					padding: 10px 0;
					border-radius: 10px;
					border: 2px solid #1688e693;
					background-color: $ice;
				}
				button:active {
					transform: scale(0.98);
				}
				button:disabled {
					color: rgba(255, 255, 255, 0.1);
					background: transparent;
				}
			}
		}
	}
}
