@import "../index.scss";

$o: 0.5; /// opacity
$d: 10; /// density
$w: 380; // grid size
$s: 20s; /// speed

// Generate the snow image using radial gradients
$grad: ();
$colors: 0, 120;
@for $i from 0 to $d {
	$v: random(3) + 1;
	$a: random(2) * 0.05 + 0.3;
	$c: nth($colors, random(2));
	$grad: $grad,
		radial-gradient(
			$v +
				px
				$v +
				px
				at
				(random($w - $v * 2) + $v) +
				px
				(random($w - $v * 2) + $v) +
				px,
			hsl($c, 60, 30),
			rgba(0, 0, 0, 0)
		) !global;
}
#Snowfall,
#Snowfall:before,
#Snowfall:after {
	z-index: -1;
	content: "";
	position: absolute;
	top: -$w + px;
	left: 0;
	bottom: 0;
	right: 0;
	border: 50%;
	opacity: $o;
	animation: snow $s linear infinite;
	background-image: $grad;
	background-size: $w + px $w + px;
}
#Snowfall:after {
	margin-left: -$w/3 + px;
	opacity: 0.35;
	animation-duration: $s * 2;
	animation-direction: reverse;
	filter: blur(3px);
}
#Snowfall:before {
	animation-duration: $s * 3;
	animation-direction: reverse;
	margin-left: -$w/2 + px;
	opacity: 0.85;
	filter: blur(1.5px);
}

@keyframes snow {
	to {
		transform: translateY($w + px);
	}
}
