@import "../index.scss";

.calender {
	.content-line {
		.name,
		.date,
		.time {
			flex: 1;
		}
		.name {
			text-align: left;
		}
		.time {
			text-align: right;
		}
		.date {
			text-align: center;
		}
	}
}
