@import "../index.scss";

.to-water {
	padding-bottom: 0 !important;
	h3 {
		margin-top: 0 !important;
	}
	.content-empty {
		width: 100vw !important;
	}
	.content-line {
		.plant {
			width: 100%;
			text-align: center;
		}
	}
}
.plants {
	.content-head,
	.content-line {
		.name {
			text-align: left;
			flex: 1.75;
		}
		.cycle {
			flex: 1;
			text-align: center;
		}
		.last {
			flex: 1;
			text-align: right;
			white-space: nowrap;
		}
	}
}
