@import "../index.scss";

.plants {
	.content-head,
	.content-line {
		.name {
			text-align: left;
			flex: 1.75;
		}
		.cycle {
			flex: 1;
			text-align: center;
		}
		.lastwater {
			flex: 1;
			text-align: right;
			white-space: nowrap;
		}
	}
}
