@import "../index.scss";

.tasks {
	padding-bottom: 0 !important;
	.task {
		* {
			flex: 1;
			text-align: center;
		}
	}
	.pin {
		text-align: center;
		font-weight: bold;
	}
	.weekday {
		flex: 1;
		text-align: left;
	}
	.name {
		flex: 1;
		text-align: right;
	}
}
.static-tasks {
	padding-top: 20px !important;
}
