@import "../../index.scss";

#View {
	@include flex;
	flex-direction: column;
	width: 100%;
	padding: 20px;
	padding-bottom: 50px;
	@media (min-width: 500px) {
		max-width: $maxwidth;
		margin: auto;
	}
}

#View .view-title {
	* {
		user-select: none;
		margin: unset;
	}
	@include flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	padding: 20px 0;
	margin: -20px -20px 0;
	.view-nav {
		padding: 2px 0 2px 10px;
		cursor: pointer;
		font-weight: bold;
	}
}

#View .view-item * {
	user-select: none;
	cursor: pointer;
}

#View .view-item {
	user-select: none;
	cursor: pointer;
	width: 100%;
	padding: 15px;
	border-radius: 10px;
	box-shadow: $shadow;
	background-color: $modelight;
	transition: 0.2s;
	P {
		margin: unset;
	}
}

#View .vi-active {
	&:active {
		transition: 0.2s;
		transform: scale(0.98);
		box-shadow: -2px 2px 6px -6px black;
		background-color: $modelighter !important;
	}
}
