@import "./index.scss";

#App {
	position: absolute;
	width: 100vw;
	height: 100vh;
	font-size: 2.4rem;
	overflow: hidden;
	background-size: cover;
	background-image: url("../Assets/sweetie-bg.jpg");

	#Module {
		width: 100%;
		@include flex;
		padding: 110px 100px;
	}

	._module-title {
		font-size: 3rem;
	}
}
