@import "./index.scss";

#App {
	position: absolute;
	width: 100vw;
	height: 100vh;

	font-size: 2.4rem;
	overflow: hidden;

	background-size: cover;
	background-image: url("../Assets/sweetie-bg.jpg");

	#Module {
		width: 100%;
		@include flex;
		align-items: flex-start;
		flex: 1;
		padding: 0 100px;
	}

	._module-title {
		font-size: 3.5rem;
	}
	._underline {
		width: 100%;
		padding-bottom: 20px;
		margin-bottom: 40px;
		border-bottom: 2px solid grey;
	}

	.datetime-module,
	.calendar-module,
	.weather-module,
	.progress-module,
	.grocery-module {
		width: 100%;
		margin: 110px 0;
	}
}
