@import "../../index.scss";

.page-title {
	* {
		user-select: none;
		margin: unset;
	}
	@include flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	padding: 20px 0 20px !important;
	margin-bottom: 20px;

	@media (max-width: 500px) {
		margin-bottom: 0;
	}

	.page-nav {
		padding: 2px 0 2px 10px;
		cursor: pointer;
		font-weight: bold;
	}
}
